.hero {
  width: 100%;
  background-image: url(../public/images/hero4-large.jpg);
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
    color: #000;
  }
  header {
    color: #000;
  }
 
  .app-bar .app-bar__brand h1 {
    font-size: 1.5em;
  }
 
  .app-bar .app-bar__menu {
    display: none;
  }
 
  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
  }
 
  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }
 
  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }
 
  .restaurants {
    grid-template-columns: 1fr 1fr;
  }
 
  .restaurant {
    display: flex;
    flex-direction: column;
  }
 
  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .restaurant__poster {
    margin: auto;
  }
 
  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
 
@media screen and (min-width: 800px) {
  .app-bar .app-bar__brand h1 {
    font-size: 2em;
  }
}
 
@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (min-width: 1200px) {
  .content {
    width: 1000px;
  }
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }
}
 
@media screen and (min-width: 1900px) {
  .restaurants {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .hero {
    width: 100%;
    background-image: url(../public/images/hero4-small.jpg);
  }
}