* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(32, 30, 30);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.app-bar__menu button {
  min-width: 44px;
  min-height: 44px;
}
.app-bar a {
  min-width: 30px;
  min-height: 30px;
}
.content a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 44px;
  min-width: 44px;
}

.skip-link {
  position: absolute;
  top: -80px;
  left: 0;
  background-color: #bf1722;
  color: #fff;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

/*
  Hero
*/

.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-position: center;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  font-weight: bold;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: bold;
}

/*
  AppBar
*/
 
.app-bar {
  padding: 8px 16px;
  background-color: #04080a;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 #000;
}

.app-bar .app-bar__menu {
  color:#fff;
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  color:#fff;
  display: flex;
  align-items: center;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: #040a0f;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  display: flex;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  width: 100%;
}

/*
  Main Content
*/
 
main {
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
}

/*
  restaurants
*/
 
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
}
 
 
/*
  restaurant Item
*/
 
.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgb(210, 204, 204);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}

.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: #dfe4e7;
  color: rgb(170, 133, 32);
}
 
.restaurant-item
  .restaurant-item__header
  .restaurant-item__header__rating
  .restaurant-item__header__rating__score {
  margin-left: 10px;
}
 
.restaurant-item .restaurant-item__content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item__content h3 a {
  color: #db0000;
  text-decoration: none;
}
 
.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-align: center;
}
 
 
/*
  restaurant
*/
 
.restaurant {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px 16px;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

.restaurant .restaurant__info h4 {
  margin: 8px 0;
}
 
.restaurant__info p {
  border-radius: 12px;
  border: solid 1px #d9dfe4;
  padding-left: 1rem;
}

.restaurant__overview p {
  border-radius: 12px;
  border: solid 1px #f6f8f9;
  padding-left: 1rem;
}

.customerReview, p, a{
  border-radius: 12px;
  border: solid 1px #eff4f8;
  padding-left: 1rem;
}
h3, h4, p, li, h2 {
  color: rgb(247, 243, 243);
}
/* .ls-is-cached {
  margin-left:auto;margin-right:auto;display:block;width:200px
} */
/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
 
/*
  Footer
*/
 
footer {
  padding: 16px;
}

footer p {
  text-align: center;
  background-color: #000000;
  color: #fff;
}